In [1]:
import pandas as pd
import numpy as np
from features_time_series_generator import *
import pickle as pkl
import ast

In [2]:
file_path_features = 'stock_data_for_emm.pkl'
file_path_stock_1year = 'data/all_stocks_1year_data.csv'

In [3]:
with open(file_path_features, 'rb') as f:
    stock_data_features = pickle.load(f)

stock_data_features = pd.DataFrame(stock_data_features)

In [4]:
stock_data_1year = pd.read_csv(file_path_stock_1year)
stock_data_1year.set_index('stocks', inplace=True)
stock_data_1year

                                               time_series
stocks
AOF.DE   [99.5999984741211, 98.30000305175781, 100.75, ...
EUK2.HA  [34.0, 34.0, 30.0, 30.0, 30.0, 30.0, 30.0, 32....
LFG.MI   [1.4500000476837158, 1.4800000190734863, 1.450...
ENV.MI   [2.880000114440918, 3.0, 2.9800000190734863, 2...
BAKA.F   [5.9720001220703125, 5.943999767303467, 5.9699...
...                                                    ...
NBS.L    [113.0, 112.0, 112.0, 112.0, 112.0, 112.0, 112...
RICO.L   [1298.7412109375, 1237.0, 1237.0, 1237.0, 1273...
KNM.L    [7887.0, 7887.0, 7887.0, 7887.0, 7847.0, 7847....
MAW.L    [22710.0, 22710.0, 23380.0, 23380.0, 23380.0, ...
TYT.L    [2505.840087890625, 2590.0, 2587.433349609375,...

[16474 rows x 1 columns]

In [5]:
stock_data = stock_data_1year.join(stock_data_features)
stock_data.drop('target', inplace=True, axis=1)
stock_data['target'] = stock_data['time_series'].apply(ast.literal_eval)
stock_data.drop('time_series', inplace=True, axis=1)
stock_data

,country,industry,currency,exchangeTimezoneName,exchange,sector,averageVolume10days,enterpriseToEbitda,marketCap,debtToEquity,fullTimeEmployees,target
stocks,,,,,,,,,,,,
AOF.DE,Germany,Software—Application,EUR,Europe/Berlin,GER,Technology,8329.0,33.294,1.241838e+09,32.492,650.0,"[99.5999984741211, 98.30000305175781, 100.75, ..."
EUK2.HA,Germany,Marine Shipping,EUR,Europe/Berlin,HAN,Industrials,0.0,7.614,NaN,41.392,807.0,"[34.0, 34.0, 30.0, 30.0, 30.0, 30.0, 30.0, 32...."
LFG.MI,Italy,Entertainment,EUR,Europe/Rome,MIL,Communication Services,330.0,-21.050,2.849466e+07,181.181,34.0,"[1.4500000476837158, 1.4800000190734863, 1.450..."
ENV.MI,Italy,Packaged Foods,EUR,Europe/Rome,MIL,Consumer Defensive,3831.0,8.794,5.971590e+07,68.513,232.0,"[2.880000114440918, 3.0, 2.9800000190734863, 2..."
BAKA.F,Spain,Banks—Regional,EUR,Europe/Berlin,FRA,Financial Services,64.0,NaN,5.670958e+09,NaN,6311.0,"[5.9720001220703125, 5.943999767303467, 5.9699..."
...,...,...,...,...,...,...,...,...,...,...,...,...
NBS.L,United Kingdom,Banks—Regional,GBP,Europe/London,LSE,Financial Services,474.0,NaN,1.594289e+09,NaN,17686.0,"[113.0, 112.0, 112.0, 112.0, 112.0, 112.0, 112..."
RICO.L,Japan,Business Equipment & Supplies,JPY,Europe/London,LSE,Industrials,1940.0,5.531,5.086319e+09,35.268,78360.0,"[1298.7412109375, 1237.0, 1237.0, 1237.0, 1273..."
KNM.L,Japan,Electronic Gaming & Multimedia,JPY,Europe/London,LSE,Communication Services,3530.0,7.976,6.297095e+09,18.311,4894.0,"[7887.0, 7887.0, 7887.0, 7887.0, 7847.0, 7847...."
MAW.L,Japan,Electronic Components,JPY,Europe/London,LSE,Technology,350.0,7.200,1.774490e+09,1.943,1297.0,"[22710.0, 22710.0, 23380.0, 23380.0, 23380.0, ..."
TYT.L,Japan,Auto Manufacturers,JPY,Europe/London,LSE,Consumer Cyclical,72760.0,12.413,1.971894e+11,102.678,376971.0,"[2505.840087890625, 2590.0, 2587.433349609375,..."

In [6]:
def merge_dicts(d1, d2):
    for key, value in d2.items():
        if key in d1:
            # If the value is already a list, append the new value
            if isinstance(d1[key], list):
                d1[key].append(value)
            else:
                # If it's not a list, convert it to a list with the existing and new value
                d1[key] = [d1[key], value]
        else:
            # If the key is not in the dictionary, simply add it
            d1[key] = value
    return d1

In [11]:
new_features = {}
i=0
for time_series in stock_data['target']:
    
    features_timeseries,_,_ = compute_all_features_for_timeseries(time_series, True)
    print(features_timeseries)
    new_features = merge_dicts(new_features, features_timeseries)
    #print(new_features)
    if i==2:
        print(new_features)
        break
    i+=1
        
new_features

{'og_mean': 119.30059, 'og_median': 119.8, 'og_std_dev': 11.41623, 'og_autocorr_lag1': 0.97943, 'og_min': 97.6, 'og_max': 143.2, 'og_range': 45.6, 'og_window_min': 19, 'og_window_max': 225, 'og_trend_slope': 0.10654, 'og_longest_continuous_increase': 11, 'og_biggest_continuous_increase': 19.5, 'og_longest_continuous_decrease': 6, 'og_biggest_continuous_decrease': -24.0, 'growth_mean': 0.10905, 'growth_median': 0.16723, 'growth_std_dev': 1.89458, 'growth_autocorr_lag1': 0.97943, 'growth_min': -11.01056, 'growth_max': 6.73235, 'growth_range': 17.74291, 'growth_window_min': 237, 'growth_window_max': 205, 'growth_trend_slope': -0.00104, 'growth_biggest_continuous_increase_perc': 16.82441, 'growth_biggest_continuous_decrease_perc': -17.72197}
{'og_mean': 29.81255, 'og_median': 29.8, 'og_std_dev': 1.6032, 'og_autocorr_lag1': 0.90756, 'og_min': 27.0, 'og_max': 34.0, 'og_range': 7.0, 'og_window_min': 67, 'og_window_max': 1, 'og_trend_slope': -0.00035, 'og_longest_continuous_increase': 3, 'og_biggest_continuous_increase': 2.6, 'og_longest_continuous_decrease': 2, 'og_biggest_continuous_decrease': -4.0, 'growth_mean': -0.01914, 'growth_median': 0.0, 'growth_std_dev': 2.21488, 'growth_autocorr_lag1': 0.90756, 'growth_min': -11.76471, 'growth_max': 8.66666, 'growth_range': 20.43137, 'growth_window_min': 3, 'growth_window_max': 248, 'growth_trend_slope': 0.00143, 'growth_biggest_continuous_increase_perc': 8.66666, 'growth_biggest_continuous_decrease_perc': -11.76471}
{'og_mean': 1.63551, 'og_median': 1.65, 'og_std_dev': 0.1139, 'og_autocorr_lag1': 0.9505, 'og_min': 1.4, 'og_max': 1.85, 'og_range': 0.45, 'og_window_min': 37, 'og_window_max': 61, 'og_trend_slope': 0.00047, 'og_longest_continuous_increase': 4, 'og_biggest_continuous_increase': 0.29, 'og_longest_continuous_decrease': 3, 'og_biggest_continuous_decrease': -0.14, 'growth_mean': 0.08382, 'growth_median': 0.0, 'growth_std_dev': 2.18054, 'growth_autocorr_lag1': 0.9505, 'growth_min': -8.0, 'growth_max': 12.17949, 'growth_range': 20.17949, 'growth_window_min': 56, 'growth_window_max': 188, 'growth_trend_slope': -0.00086, 'growth_biggest_continuous_increase_perc': 18.59324, 'growth_biggest_continuous_decrease_perc': -8.0}
{'og_mean': [119.30059, 29.81255, 1.63551], 'og_median': [119.8, 29.8, 1.65], 'og_std_dev': [11.41623, 1.6032, 0.1139], 'og_autocorr_lag1': [0.97943, 0.90756, 0.9505], 'og_min': [97.6, 27.0, 1.4], 'og_max': [143.2, 34.0, 1.85], 'og_range': [45.6, 7.0, 0.45], 'og_window_min': [19, 67, 37], 'og_window_max': [225, 1, 61], 'og_trend_slope': [0.10654, -0.00035, 0.00047], 'og_longest_continuous_increase': [11, 3, 4], 'og_biggest_continuous_increase': [19.5, 2.6, 0.29], 'og_longest_continuous_decrease': [6, 2, 3], 'og_biggest_continuous_decrease': [-24.0, -4.0, -0.14], 'growth_mean': [0.10905, -0.01914, 0.08382], 'growth_median': [0.16723, 0.0, 0.0], 'growth_std_dev': [1.89458, 2.21488, 2.18054], 'growth_autocorr_lag1': [0.97943, 0.90756, 0.9505], 'growth_min': [-11.01056, -11.76471, -8.0], 'growth_max': [6.73235, 8.66666, 12.17949], 'growth_range': [17.74291, 20.43137, 20.17949], 'growth_window_min': [237, 3, 56], 'growth_window_max': [205, 248, 188], 'growth_trend_slope': [-0.00104, 0.00143, -0.00086], 'growth_biggest_continuous_increase_perc': [16.82441, 8.66666, 18.59324], 'growth_biggest_continuous_decrease_perc': [-17.72197, -11.76471, -8.0]}

{'og_mean': [119.30059, 29.81255, 1.63551],
 'og_median': [119.8, 29.8, 1.65],
 'og_std_dev': [11.41623, 1.6032, 0.1139],
 'og_autocorr_lag1': [0.97943, 0.90756, 0.9505],
 'og_min': [97.6, 27.0, 1.4],
 'og_max': [143.2, 34.0, 1.85],
 'og_range': [45.6, 7.0, 0.45],
 'og_window_min': [19, 67, 37],
 'og_window_max': [225, 1, 61],
 'og_trend_slope': [0.10654, -0.00035, 0.00047],
 'og_longest_continuous_increase': [11, 3, 4],
 'og_biggest_continuous_increase': [19.5, 2.6, 0.29],
 'og_longest_continuous_decrease': [6, 2, 3],
 'og_biggest_continuous_decrease': [-24.0, -4.0, -0.14],
 'growth_mean': [0.10905, -0.01914, 0.08382],
 'growth_median': [0.16723, 0.0, 0.0],
 'growth_std_dev': [1.89458, 2.21488, 2.18054],
 'growth_autocorr_lag1': [0.97943, 0.90756, 0.9505],
 'growth_min': [-11.01056, -11.76471, -8.0],
 'growth_max': [6.73235, 8.66666, 12.17949],
 'growth_range': [17.74291, 20.43137, 20.17949],
 'growth_window_min': [237, 3, 56],
 'growth_window_max': [205, 248, 188],
 'growth_trend_slope': [-0.00104, 0.00143, -0.00086],
 'growth_biggest_continuous_increase_perc': [16.82441, 8.66666, 18.59324],
 'growth_biggest_continuous_decrease_perc': [-17.72197, -11.76471, -8.0]}